E2E_BASE_URL=https://secaudit.localhost
E2E_NETWORK_ADMIN_USERNAME=auditadmin
E2E_NETWORK_ADMIN_EMAIL=auditadmin@secaudit.localhost
E2E_NETWORK_ADMIN_PASSWORD=AuditAdmin!ChangeThis123
E2E_SITEOWNER_USERNAME=siteowner
E2E_SITEOWNER_EMAIL=siteowner@secaudit.localhost
E2E_SITEOWNER_PASSWORD=SiteOwner!ChangeThis123
E2E_AUDITOR_USERNAME=auditor
E2E_AUDITOR_EMAIL=auditor@secaudit.localhost
E2E_AUDITOR_PASSWORD=Auditor!ChangeThis123